plugin/project
plugin/target
sample/project
sample/target
logs
project/project
project/target
target
publish
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
